:root {
    /* fonts */
    --base-font: 'Roboto', sans-serif;

    /* colors */
    --primary: #ed4947;
    --primary-dark: #d14745;
    --secondary: #55c4cf;
    --secondary-dark: #ee666d;
    --secondary-alt: #62d8ae;
    --dark: #232832;
    --grey: #e6e6e6;
    --light: #f9f9f9;
    --white: #FFF;

    /* styling */
    --border-radius: 15px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.launch__grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-radius: var(--border-radius);
}

.grid__item {
    text-align: center;
    cursor: pointer;
    margin: 5px;
    border-radius: var(--border-radius);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

.ram {
    background-image: url("../images/ramthumb.png");
}

.lotr {
    background-image: url("../images/lotrthumb.png");
}

/* .sthings {
    background-image: url("../images/lotrthumb.png");
}

.dis {
    background-image: url("../images/lotrthumb.png");
}

.marv {
    background-image: url("../images/lotrthumb.png");
}

.swars {
    background-image: url("../images/lotrthumb.png");
}

.office {
    background-image: url("../images/lotrthumb.png");
}

.bttf {
    background-image: url("../images/lotrthumb.png");
} */

.grid__item img:hover {
    opacity: 0;
}

.grid__item img {
    width: 150px;
    border-radius: var(--border-radius);
    overflow: hidden;
    vertical-align: middle;
    opacity: 100;
    transition: .2s ease;
}

.quiz-container {
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-image: url(../images/questionbackground.png);
    border-radius: var(--border-radius);
    box-shadow: 0px 15px 15px 5px rgba(0,0,0,.2);
    overflow: hidden;
}

.questions {
    margin: 0 40px 0 40px;
    width: 270px;
}

.quiz-container .img {
    height: 350px;
}

label {
    font-family: var(--base-font);
    color: var(--dark);
    font-size: 1.15em;
    padding: 5px;
    line-height: 2em;
    font-weight: 500;
    letter-spacing: -.025em;
}

h3 {
    font-family: var(--base-font);
    font-weight: 700;
    font-size: 1.5em;
    color: var(--dark);
    margin: 0 0 10px 0;
}

h2 {
    font-family: var(--base-font);
    font-weight: 700;
    font-size: 1.8em;
    color: var(--dark);
    margin: 0;
}

.score {
    grid-template-columns: auto auto;
    display: grid;
    background-image: url(../images/scorebackground.png);
    width: 700px;
    height: 350px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.score__text {
    width: 150px;
}

.score h2:nth-child(2) {
    background-image: url(../images/10per.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 150px;
    background-position: center;
    line-height: 150px;
    margin: 20px 0;
}

button {
    background: var(--primary);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 10px;
    font-family: var(--base-font);
    color: var(--light);
    font-size: 1em;
    transition: .3s ease;
    outline: none;
    font-weight: 900;
    letter-spacing: .1em;
}

.replay {
    background: var(--secondary-alt);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 20px;
    font-family: var(--base-font);
    color: var(--light);
    font-size: 1em;
    transition: .3s ease;
    outline: none;
    font-weight: 900;
    letter-spacing: .1em;
    display: block;
}

.score__replay:hover {
    background: var(--secondary);
}

.score__finish:hover {
    background: var(--primary-dark);
}

.questions__button:hover {
    background: var(--primary-dark);
    letter-spacing: .2em;
}

.hidden {
    display: none;
}